// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #ffce00; /* Vàng Tết */
  --ion-color-primary-rgb: 255,206,0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e0b500;
  --ion-color-primary-tint: #ffd31a;

  --ion-color-danger: #f04141; /* Đỏ Tết */
  --ion-color-danger-rgb: 240,65,65;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-background-color: #f4f5f8; /* Nền nhẹ */
  --ion-background-color-rgb: 244,245,248;

  ion-content {
    --background: linear-gradient(to bottom, #ffce00, #f04141); /* Gradient Tết */
    /* Hoặc background image: --background: url('/assets/images/background-tet.jpg') no-repeat center/cover; */
  }

  .button-gradient {
    --background: linear-gradient(90deg, var(--ion-color-primary), var(--ion-color-danger));
  }
}